#navigation{
    text-align: center;
    font-weight: 700;
    font-size: larger;
    text-align: ;
}
.navigation{
    color: coral;
}
#background{
    background-color: aquamarine;
}
#image{

    border-color:yellow;
    border-width: 3px;
    border-style:solid;
}